.addBar {
    position: relative;
}

#urlTextInput {
    padding: 10px;
    border: none;
    font-size: 14px;
    border-radius: 25px;
    text-indent: 10px;
    width: 75%;
}

#urlTextInput:focus {
    outline: none;
}

#urlTextInput::placeholder {
    opacity: 0.50;
}

#blockButton {
    background-color:#ff4747;
    border: none;
    color: white;
    padding: 11px 13px;
    border-radius: 25%;
    cursor: pointer;
    position: absolute;
    margin-left: -35px;
}

#blockButton:hover {
    opacity: 0.50;
}

ul {
    width: 90%;
    padding: 0;
    margin-left: 15px;
}

li {
    list-style: none;
    font-size: 14px;
    padding-top:10px;
    position: relative;
    vertical-align: middle;
    padding-bottom: 10px;
}

.url {
    float: right;
    padding-top: 5px
}

.rmvButton {
    float: left;
    overflow: hidden;
    outline:none;
    border: none;
    background-color: Transparent;
    cursor: pointer;
}

#minusCircle {
    color:#ff4747;
    font-size: 25px;
}

#minusCircle:hover {
    opacity: 0.50;
}

hr {
    border: 0;
    border-bottom: 1px dashed rgb(204, 204, 204);
    background: rgba(153, 153, 153, 0.719);
}
