#add input{
    width: 60%;
}

.content li{
    font-size: 12px;
    letter-spacing: normal;
    float: left;
    list-style: none;
}

.deleteButton {
    background-color: #FF4136; 
    border: none;
    color: white;
    padding: 6px 8px;
    font-size: 10px;
    cursor: pointer;
    margin: 10px;
}

.deleteButton:hover {
    background-color: rgb(253, 89, 81)
}